.h2{
    position: absolute;
    left: 30%;
    top: 30px;
}

::placeholder{
    color: #0298cf;
}

.table_section{
    height: 650px;
    overflow: auto;
}

table{
    position: relative;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    left: 200px;
    top: 120px;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}
